<div class="message_index">
	<div class="message_nav">
		<%= render 'show_sidebar' %>
	<div class="message_index_panel">
		<h2><%= current_user.username %>'s Messages</h2>
		<%= link_to "New Message", new_message_path(current_user), :class => 'primary button', :id => "new_message_button" %>
		<div class="message_center">
			<% unless @message_items.empty? %>
			<ul>	
				<% @message_items.each do |m| %>
					<%= render 'message_feed_recieved', :m => m %>
					<% end %>
			</ul>	
					<%= will_paginate @message_items %>
			<% end %>
			</div>
		</div>
	</div>
</div>