<tr>
	<td class="bookmark_show">
		<span class="favicon">
			<script type="text/javascript">
			$(document).ready(function(){ 
			  $('a[href^="http://"]').favicons();
			  $('a[href^="https://"]').favicons();
			});
			</script>
		</span>
		<span class="content">
			<strong><%= link_to favs.web_name, favs.url, :target => "_blank" %></strong>
		</span>
		<span class="description">
			<em><%= favs.description %></em>
		</span>
		<br \>	
		<span class="grab">
			[Move]<br \>
			<% if current_user?(@user) %>
				<%= link_to "Share", '#', :class => 'primary button', :id => "share_bookmark" %>
			<% else %>
				<%= link_to "Barrow", '#', :class => 'primary button', :id => "barrow_bookmark" %>
			<% end %>
				<div id="bookmark_share" title="Bookmarks">
				
				</div>
				</div>
				<script type="text/javascript">
				$(function() {
						$( "#bookmark_share" ).dialog({
							autoOpen: false,
							height: 200,
							width: 500
						});

						$( "#share_bookmark" ).click(function() {
							$( "#bookmark_share" ).dialog( "open" );
							return false;
						});
					});
				</script>
		</span>
		<span class="timestamp">
			Added <%= time_ago_in_words(favs.created_at)%> ago.
		</span>
	
	</td>
</tr>