<div class="user_show">
	<div class="user_nav">
		<div class="profile_pic">
				<% if @user.profiles.blank?%>
					<%= link_to	default_photo, new_profile_path(@user) %>
				<% else %>
					<% @profile.each do |profile| %>
					<%= link_to (image_tag profile.avatar.url(:large)), edit_profile_path(@profile)  %>
					<% end %>
				<% end %>
		</div>
	    <div class="edit_profile_pic">
			<%= link_to "Edit", '#' %>
		</div>

		<div class="user_stats">
			<%= render "follow" %>
		</div>
		<div class="quick_links">
			<%= render 'user_quick_links' %>
		</div>
		<%= render 'follow_stats' %>

	<div class="user_bar">
		<%= render 'shared/user_bar_nav' %>
		</div>
	<div class="not_following_panel">
		<h2><%= @user.username %></h2>
		<div class="not_following_creds">
			<% if @user.abouts.empty? %>
				<ul>
					<li>Status: Person doesn't have a status yet</li>
					<li>Type: Person doesn't have a type yet</li>
					<li>Member Since: <%= (@user.created_at).to_date.to_s(:long) %></li>
				</ul>
			<% else %>
			<% @user.abouts.each do |a| %>
			<ul>
				<li>Status: <%= a.moto %></li>
				<li>Type: <%= a.type %></li>
				<li>Member Since: <%= (@user.created_at).to_date.to_s(:long) %></li>
			</ul>
			<% end%>
			<% end %>
		</div>
		<p>Follow <strong><%= @user.username %></strong> to learn more about them!</p>
	</div>
	</div>
</div>