<div class="user_show">
	
	<div class="user_nav">
		<div class="profile_pic">
			<%= link_to	default_photo, user_path(@user) %>
		</div>
	    <div class="edit_profile_pic">
			<%= link_to "Edit", '#' %>
		</div>
		
		<div class="user_stats">
		<% if current_user?(@user) %>
			<u>Welcome!</u>: <%= link_to "#{@user.name}", user_path(@user) %>
		<% else %>
		<% if current_user.following?(@user) %>
			<%= render "unfollow" %> 
		<% else %>
			<%= render "follow" %> 
		<% end %>
		<% end %>
		
		</div>
		<div class="quick_links">
			<ul>
				<li class="quick_links_li"><%= link_to "Top Searches", '#' %></li>
				<li class="quick_links_li"><%= link_to "Find People", '#' %></li>
				<li class="quick_links_li"><%= link_to "Chat", '#' %></li>
			</ul>
		</div>
		
	<div class="user_bar">
			<%= render 'shared/user_bar_nav' %>
		</div>
		<div class="portfolio">
			<div class="album_buttons">
				<ul>
					<% if current_user?(@user) %>
					<li><%= link_to "New Album", '#', :id => "blurt_button" %></li>
					<li><%= link_to "New Video", '#', :class => "home_edit_buttons" %></li>
					<% else %>
					<li><%= link_to "Searches", '#', :class => "home_edit_buttons" %></li>
					<li><%= link_to "Message", '#', :class => "home_edit_buttons" %></li>
					<% end %>
					
				</ul>
			<h3 id ="album_title"><%= @user.username %>'s Albums</h3>
			<hr id ="line_one" \>
		</div>
		<div class="portfolio_albums">
			<% unless @portfolio.empty? %>
			<ul>
				<% @portfolio.each do |album| %>
					<li><%= image_tag album.photo.url(:standard) %></li>
				<% end %>
			</ul>
			<%= will_paginate @portfolio %>
			<% end %>
		</div>
	</div>
	<div class="popupPicture">
		<a class="popupContactClose">[close]</a>

		<p class="contactArea">
			<br/><br/>
			<div class="new_picture">
				<div class="album_create">
					<h2>[<em>Insert Album</em>]</h2>
				<div id="new_album">
					<%= form_for(@album, :html => { :multipart => true }, :validate => true) do |f| %>
					<div class="session_fields">
						<%= f.text_field :name, :placeholder => "Album Name" %>
					</div><br \>
						<%= f.file_field :photo %><br \><br \>
						<%= f.submit "Create!", :class => 'big button'%>
					<% end %>
				</div>
			</div>
		</div>
		</p>
	</div>
	<div class="backgroundPopup"></div>

	</div>
</div>