
<div class="user_show">
	
	<div class="user_nav">
		<div class="profile_pic">
			<%= link_to	default_photo, user_path(@user) %>
		</div>
	    <div class="edit_profile_pic">
			<%= link_to "Edit", '#' %>
		</div>
		
		<div class="user_stats">
		<% if current_user?(@user) %>
			<u>Welcome!</u>: <%= link_to "#{@user.name}", user_path(@user) %>
		<% else %>
		<% if current_user.following?(@user) %>
			<%= render "unfollow" %>
		<% else %>
			<%= render "follow" %>
		<% end %>
		<% end %>
		
		</div>
		<div class="quick_links">
			<ul>
				<li class="quick_links_li"><%= link_to "Top Searches", '#' %></li>
				<li class="quick_links_li"><%= link_to "Find People", '#' %></li>
				<li class="quick_links_li"><%= link_to "Chat", '#' %></li>
			</ul>
			<script type="text/javascript" charset="uft8" >
				$(document).ready(function(){
					$(".quick_links_li").hover(function(){
						$(this).css({
							"background-color":"#F5F5F5",
							"cursor":"pointer"
						});
					}, function(){
						var resetCSS = {
							"background-color":"",
							"cursor":""
						}
						$(this).css(resetCSS);
					});
				});
				
				$(document).ready(function(){
					$(".profile_pic").hover(function(){
						$(".edit_profile_pic").css({
							"display":"block"
						});
					}, function(){
						var resetEdit = {
							"display":"none"
						}
						$(".edit_profile_pic").css(resetEdit);
					});
				});
			</script>
		</div>
		
	<div class="user_bar">
		<%= render 'shared/user_bar_nav' %>
		</div>
	</div>
	<div class="the_user_panel">
		<script>
		$(function() {
			$( "#tabs_user" ).tabs().find( ".ui-tabs-nav" ).sortable({ axis: "x" });
		});
		</script>

		<div id="tabs_user">
			
			<ul>
				<li><a href="#tab-1">The Feed</a></li>
				<li><a href="#tab-2">About Me</a></li>
			</ul>
			<div id="tab-1">
				<div class="usershow_status">
					<div class="status_panel">
						<h3>[<em>Status</em>]</h3>
						<%= form_for(@status) do |f| %>
							<%= f.text_area :content, :class=> "count_box" %>
							<br />
						<div class="status_submit">	<%= f.submit "Post!", :class => 'button'%></div>
						<% end %>
						<div class="running_count">Words: 400</div>
						<script>
							$(document).ready(function(){
								$(".count_box").keyup(function(){
									var box=$(this).val();
									var count= 400 - box.length;

									if(box.length <= 400){
										$('.running_count').html("Words: " + count);
									}
									else
									{
										alert('Full');
									}
									return false;
								});

						});
						</script>
					</div>
					<div id="status_count_show">
				<%= link_to "Feed count:", '#' %> <%= @user.statuses.count %><br \>
				<%= link_to "Searches:", '#' %> 0
					</div>
					<% unless @feed_items.empty? %>
						<% @feed_items.each do |feed_item|%>
						<ul class="personal_feed">
							<li>
								<span class="user">
								<%= link_to feed_item.user.username, feed_item.user %>
								</span><br \>
								<span class="content">
								<%= wrap(feed_item.content) %>
								</span><br \>
								<span class="timestamp">
								Posted <%= time_ago_in_words(feed_item.created_at)%> ago.
								</span>
							</li>
						</ul>
						<% end %>
					<% end %>
				</div>
			</div>
			<div id="tab-2">	
				<div class="usershow_stats">
					<h2><u><%= @user.username %>'s Card</u></h2>
				<div class="edit">
				<% if current_user?(@user) %>
					<% if @user.abouts.empty? %>
						<%= link_to "Edit Profile", new_user_about_path(@user), :class => "edit_profile_button" %>
					<% else %>
						<%= link_to "Edit Profile", '#', :class => "edit_profile_button" %>
					<% end %>
				<% end %>
				</div>
				<% if @user.abouts.empty? %>
					<center><h2>No Credentials Yet</h2></center>
				<% else %> 
					<% @user.abouts.each do |a| %>
					<ul>
						<li>From: <%= a.home_town %></li>
						<li>Lives: <%= a.current_town %></li>
						<li>Type: <%= a.type %></li>
						<li>Gender: <%= a.gender %></li>
						<li>Status: <%= a.relationship %></li>
						<li>Work: <%= a.occupation %></li>
						<li>Member Since: <%= (@user.created_at).to_date.to_s(:long) %>
					</ul>
					<% end %>
				<% end %>
				</div>
				<div class="usershow">
					<div class="scrollingHotSpotLeft"></div>
					<div class="scrollingHotSpotRight"></div>
						<div class="scrollWrapper">
							<div class="scrollableArea">
							<% @pictures.each do |p| %>
								<%= image_tag p.photo.url(:original), :size => "120x120" %>
							<% end %>
						</div>
					</div>
				</div>
				<script type="text/javascript" charset="utf-8">
					$(window).ready(function(){
						$(".usershow").smoothDivScroll({
							autoScroll: "onstart",
							autoScrollDirection: "backandforth",
							autoScrollStep: 1,
							autoScrollInterval: 15,
							visibleHotSpots: "always"
						});
					});
				</script>
			</div>
		</div>
	</div>
</div>