<%= render 'shared/jcrop_for_crop' %>
<div class="crop_page">
	<div class="crop_panel">
		<center><h2>Move the crop box to adjust the image!</h2></center>
		<div class ="crop">
			<center><%= image_tag @album.photo.url(:large), :id => "cropbox" %></center>
		</div>
		<h4>Preview:</h4>
		<div class="preview_crop">
  			<%= image_tag @album.photo.url(:large), :id => "preview" %>
		</div>

		<% form_for(@album) do |f| %>
  			<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    		<%= f.hidden_field attribute, :id => attribute %>
  			<% end %>
  			<p><%= f.submit "Save >", :class => 'big button' %></p>
		<% end %>
	</div>
</div>