<div class="user_show">
	<div class="user_nav">
		<div class="user_bar">
				<%= render 'shared/user_bar_nav' %>
			</div>
			<div class="photo_show">
				<div class="album_buttons">
					<ul>
						<% if current_user.id == @album.user_id %>
						<li><%= link_to "New Picture", '#', :id => "blurt_button" %></li>
						<li><%= link_to "New Video", '#', :class => "home_edit_buttons" %></li>
						<% else %>
						<li><%= link_to "Searches", '#', :class => "home_edit_buttons" %></li>
						<li><%= link_to "Message", '#', :class => "home_edit_buttons" %></li>
						<% end %>

					</ul>
				<h3 id ="album_title"><%= @album.name %></h3>
				<hr id ="line_one" \>
			</div>
			<div class="portfolio_albums">
				<% unless @photos.empty? %>
				<ul>
					<% @photos.each do |photo| %>
						<li><%= image_tag photo.picture.url(:standard) %></li>
					<% end %>
				</ul>
				<%= will_paginate @photos %>
				<% end %>
			</div>
		</div>
		<div class="popupPicture">
			<a class="popupContactClose">[close]</a>

			<p class="contactArea">
				<br/><br/>
				<div class="new_picture">
					<div class="album_create">
						<h2>[<em>Insert Photos</em>]</h2>
					<div id="new_album">
						<%= form_for([@album, @picture], :html => { :multipart => true }, :validate => true) do |f| %>
						<div class="session_fields">
							<%= f.text_field :name, :placeholder => "Photo Name" %>
						</div><br \>
							<%= f.file_field :picture %><br \><br \>
							<%= f.submit "Create!", :class => 'big button'%>
						<% end %>
					</div>
				</div>
			</div>
			</p>
		</div>
		<div class="backgroundPopup"></div>

		</div>

</div>