<footer>
	<div id="right_footer">
		<%= link_to "About", about_url %> |
		<%= link_to "Help", help_url %> |
		<%= link_to "Blog", '#' %> |
		<%= link_to "Terms", terms_url %> |
		<%= link_to "Privacy", privacy_url %> |
		<%= link_to "Advertisers", '#' %> |
		<%= link_to "Resources", resources_url %> 
	<span>© 2011, Xion Systems Inc. All Rights Reserved </span>
	</div>
	<%= render 'layouts/external_footer' %>
</footer>