<footer>
	<div id="right_footer">
		<%= link_to "About", '#' %> |
		<%= link_to "Help", '#' %> |
		<%= link_to "Blog", '#' %> |
		<%= link_to "Terms", '#' %> |
		<%= link_to "Privacy", '#' %> |
		<%= link_to "Advertisers", '#' %> |
		<%= link_to "Resources", '#' %> 
	<span>© 2011, Xion Systems Inc. All Rights Reserved </span>
	</div>
	<%= render 'layouts/external_footer' %>
</footer>