<footer>
	<div id="right_footer">
		<%= link_to "About", about_path %> |
		<%= link_to "Help", help_path %> |
		<%= link_to "Blog", '#' %> |
		<%= link_to "Terms", terms_path %> |
		<%= link_to "Privacy", privacy_path %> |
		<%= link_to "Advertisers", '#' %> |
		<%= link_to "Resources", resources_path %> 
	<span>© 2011, Xion Systems Inc. All Rights Reserved </span>
	</div>
	<%= render 'layouts/external_footer' %>
</footer>