<header>
<div class="left_header">
	<%= link_to logo, root_path %>
</div>
<div class ="right_header">
	<div class="right_nav">
		<ul>
			<% if signed_in? %>
			<li><%= link_to "[Dash]", root_path %></li>
			<% else %>
			<li><%= link_to "[Home]", root_path %></li>
			<% end %>
			<li><%= link_to "[Storage]", '#' %></li>
			<li><%= link_to "[Theatre]", '#' %></li>
			<li><%= link_to "[Search]", '#' %></li>
			<% if signed_in? %>
			<li><%= link_to "[Sign Out]", signout_path %></li>
			<% else %>
			<li><%= link_to "[Sign In]", signin_path %></li>
			<% end %>
		</ul>
	</div>
</div>
</header>