<header>
<% if signed_in? %>
<div class="left_header">
	<%= link_to logo, root_path %>
</div>
<%= render 'layouts/search_bar' %>
<div class ="right_header">
	<div class="right_nav_b">
		<ul>
			<li><%= link_to "[Dash]", root_path %></li>
			<li><%= link_to "[Storage]", storage_path(current_user) %></li>
			<li><%= link_to "[Theatre]", '#' %></li>
			<li><%= link_to "[Search]", '#' %></li>
			<li><%= link_to "[Sign Out]", signout_path %></li>
		</ul>
	</div>
</div>
</div>
<% else %>
<div class="left_header">
	<%= link_to logo, root_path %>
</div>
<div class ="right_header">
	<div class="right_nav_a">
		<ul>
			<li><%= link_to "[Home]", root_path %></li>
			<li><%= link_to "[Storage]", storage_info_path %></li>
			<li><%= link_to "[Theatre]", '#' %></li>
			<li><%= link_to "[Search]", '#' %></li>
			<li><%= link_to "[Sign In]", signin_path %></li>
		</ul>
	</div>
</div>
<% end %>
</header>