<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <title><%= title %></title>
    <%= render 'layouts/external_layout' %>
	<%= yield(:head) %>
    <%= csrf_meta_tag %>
  </head>

  <body>
	<div class= "container">
	<% if signed_in? %>
	 	<%= render 'layouts/header' %>
	<% end %>
	 
	 <div class= "wrapper">
	
	<% flash.each do |key, value| %>
			<%= content_tag(:div, value, :class => "flash #{key}" )%>
		<% end %>
		
		<%= yield %>
	 </div>
     <%= render 'layouts/footer' %>
	 
	</div>
  </body>
</html>
 